<br />

<div class="places-box col-10 offset-1">
  <h1>Careers</h1>

  <p class="text-center">
    This is not the careers page you're looking for. 
    <br />
    <br />
    <%= image_tag('R2D2.png', class: "droids img-fluid") %>
  </p>
</div>