
<div class="hero">
  <br />
  <div class="frosted col-10 offset-1 text-center">
    <h1 class="flixSlogan">One Man's Magic Is Another Man's Science</h1>
    <br />
    <h2>Learn some modern "magic" from the pros</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>