
<div class="hero">
  <br />
  <div class="frosted col-10 offset-1 text-center">
    <br />
    <h1 class="flixSlogan">One Man's Magic Is Another Man's Science</h1>
    <br />
    <h2>Learn some modern "magic" from the pros</h2>
    <br />
    <%= link_to 'Learn More', 'courses_path', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access an archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join Our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>