@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Aldrich|Allerta+Stencil|Audiowide|Fredericka+the+Great|Orbitron|Play|VT323&display=swap');

.navbar-inverse {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5em;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('congruent_outline.png');
}

.navbar-inverse a.navbar-brand  {
  font-family: 'VT323', monospace;
  letter-spacing: 0em;
  font-size: 28px;
  color: #DE1010;
}

.flixSlogan {
  font-family: 'Audiowide', cursive;
  color: #840505;
}

.hero {
  background: image_url('space_hero.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
  }

.frosted {
  background: rgba(0, 0, 0, 0.5);
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 5px;
  font-family: 'Orbitron', sans-serif;
  color: #FFFFFF;
}

.btn-success {
  background-color: blue;
}